<div class="container">
  <h5>Buscador</h5>

  <form (submit)="buscar()" autocomplete="off">
    <input
      type="number"
      class="form-control"
      id="buscador"
      placeholder="Ingrese algo!!"
      name="buscador"
      [(ngModel)]="termino"
    />
  </form>

  <hr />

  <div class="row">
    <div class="col lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
             <img src={{team.team_logo}} class="img-fluid rounded-start" alt="..."> 
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{team.team_name}}</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text"><small class="text-muted">liga</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  

    <div class="col lg-6" >
      <div class="row row-cols-1 row-cols-md-2 g-4" >
        <div class="col" *ngFor="let player of players">
          <div class="card">
            <img src={{player.player_image}} class="card-img-top" alt="..."> 
            <div class="card-body">
              <h5 class="card-title">{{player.player_name}} </h5>
              <p class="card-text">
                gfdgfgg
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<pre class="mt-5">
  {{team | json}}
</pre>